<app-navbar></app-navbar>

<div class="container">
      <div class="card custom-card">
        <img src="../../assets/rubbur.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Rubbur</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>  

      <div class="card custom-card">
        <img src="../../assets/slurp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Slurp</h2>    
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card custom-card">
        <img src="../../assets/Acre.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Acre</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>  

      <div class="card custom-card">
        <img src="../../assets/Screenshot (163).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Portfolio site</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>