.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    width: 80vw;
    margin-top: 50px;
  }

.custom-card {
    margin: 3%;
    width: 350px;
    height: 350px;
    overflow: hidden;
}