<app-navbar></app-navbar>

<div class="container">
    <div class="card custom-card">
        <img src="../../assets/pm-1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>Eateries</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card custom-card">
        <img src="../../assets/pm-2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>Swiggy</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card custom-card">
        <img src="../../assets/pm-3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>Zepto</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card custom-card">
        <img src="../../assets/pm-4.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>District</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card custom-card">
        <img src="../../assets/pm-5.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>Slurp</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>